FACEIT_SERVER_SIDE_API_KEY=
FACEIT_WEBHOOK_HEADER_NAME=
FACEIT_WEBHOOK_HEADER_VALUE=
FACEIT_WEBHOOK_QUERY_NAME=
FACEIT_WEBHOOK_QUERY_VALUE=
TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_KEY=
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_TWITCH_PARENT_DOMAINS=
