node_modules/
package-lock.json
.worktrees/
.output/
dist/
coverage/
.coverage-virtual/
test-results/
.env.local
.env*.local
.vinxi/
.superpowers/
src/routeTree.gen.ts
.vercel
.playwright-cli/
playwright-report

.env*
.flaskenv*
!.env.project
!.env.vault